doctype 5
html
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='yanexbo - yet another node/exppress boilerplate')
    meta(name='author', content='Matthias Lienau')
    link(href='/stylesheets/app.css', rel='stylesheet', media='all')
    // IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    block content
  script(src='/javascripts/app.js')
