/* Put your super individual styles here if not generated and included elsewhere */
body {
    margin: 80px;
    padding: 20px;
    border: 12px solid #ddd;
    border-radius: 40px;
    -moz-border-radius: 40px;
}
